/* Default for small screens */
@media (max-width: 768px) {
    .w-full {
      width: 100%;
    }
    .sm\:max-w-[498px] {
      max-width: 100%;
    }
    .px-4 {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  /* For larger screens */
  @media (min-width: 768px) {
    .sm\:max-w-[498px] {
      max-width: 498px;
    }
    .md\:p-6 {
      padding: 1.5rem;
    }
  }
  